<a href="https://colab.research.google.com/github/sejin-sim/Data_Mining/blob/main/2.%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas 패키지
* 자료구조 및 데이터 분석/처리를 위한 파이썬 패키지
* 장점행과 열로 이루어진 데이터 객체를 생성 및 대용량의 데이터들을 처리
*  기본적으로 정의되는 자료구조인 Series와 Data Frame을 사용

# **1. Series**

* Index와 value의 형태를 갖고 있는 pandas의 자료구조
* Series는 index와 value로 구성된다

In [ ]:
# pandas 사용하기 
import numpy as np # numpy 도 함께 import 
import pandas as pd
 
# Series 정의하기 
obj = pd.Series([4, 7, -5, 3]) 
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
print(obj.values,"\n") # Series의 값만 확인하기
print(obj.index ,"\n")  # Series의 인덱스만 확인하기
print(obj.dtypes,"\n") # Series의 자료형 확인하기 

# 인덱스를 바꿀 수 있다.
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
display(obj2, "\n")

# python의 dictionary 자료형(key: value)을 Series data로 만들 수 있다.
sdata ={'SongGain': 35000, 'HongJa': 67000, 'Girl': 12000, 'BTS': 4000}
# dictionary의 key가 Series의 index가 된다.
obj3 = pd.Series(sdata)
print(obj3, "\n")

# series 데이터인 obj3의 name을 Salary로 한다
obj3.name = 'Salary'
# series 데이터인 obj3의 index의 name을 Names 로함
obj3.index.name = "Names"
print(obj3, "\n")

#index  'SongGain', 'HongJa', 'Girl', ‘BTS →  A,B,C,D로 변경
obj3.index = ['A', 'B', 'C', 'D']
display(obj3)

[ 4  7 -5  3]

RangeIndex(start=0, stop=4, step=1)

int64

d    4
b    7
a   -5
c    3
dtype: int64

'\n'

SongGain    35000
HongJa      67000
Girl        12000
BTS          4000
dtype: int64

Names
SongGain    35000
HongJa      67000
Girl        12000
BTS          4000
Name: Salary, dtype: int64

A    35000
B    67000
C    12000
D     4000
Name: Salary, dtype: int64

# **2. DataFrame** : 시리즈가 모여 데이터 프레임이 된다.

In [ ]:
# Data Frame 정의하기 이전에 DataFrame에 들어갈 데이터를 정의 해주어야 하는데,
# python의 dictionary 또는 numpy의 array로 정의할 수 있다.

data = {'name': ['Junwoo', 'Jiwoo', 'Gunwoo', 'Kimil', 'Parkjun'],
             'year': [2013, 2014, 2015, 2016, 2015],
             'points': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)
df

      name  year  points
0   Junwoo  2013     1.5
1    Jiwoo  2014     1.7
2   Gunwoo  2015     3.6
3    Kimil  2016     2.4
4  Parkjun  2015     2.9

In [ ]:
# 각 인덱스에 대한 이름 설정하기 df.index.name = 'Num'
df.index.name = 'Num' 
df.columns.name = 'Info' 
df

Info     name  year  points
Num
0      Junwoo  2013     1.5
1       Jiwoo  2014     1.7
2      Gunwoo  2015     3.6
3       Kimil  2016     2.4
4     Parkjun  2015     2.9

In [ ]:
# DataFrame을 만들면서 columns와 index를 설정할 수 있다.
df2 = pd.DataFrame(data, columns=['name', 'year', 'points', 'penalty'],
                  index=['one', 'two', 'three', 'four', 'five'])
df2

          name  year  points penalty
one     Junwoo  2013     1.5     NaN
two      Jiwoo  2014     1.7     NaN
three   Gunwoo  2015     3.6     NaN
four     Kimil  2016     2.4     NaN
five   Parkjun  2015     2.9     NaN

In [ ]:
# describe() 함수는 DataFrame의 계산 가능한 값들에 대한 다양한 계산 값을 보여준다.
df2.describe()

              year    points
count     5.000000  5.000000
mean   2014.600000  2.420000
std       1.140175  0.864292
min    2013.000000  1.500000
25%    2014.000000  1.700000
50%    2015.000000  2.400000
75%    2015.000000  2.900000
max    2016.000000  3.600000

In [ ]:
# df 인덱싱
data = { "names" : [ "Kilho", "Kilho", "Kilho", "Charles", "Charles"],
           "year": [ 2014, 2015, 2016, 2015, 2016 ],
           "points": [ 1.5, 1.7, 3.6, 2.4, 2.9 ]}
df = pd.DataFrame(data, columns=[ "year", "names", "points", "penalty"], 
index=[ "one", "two", "three", "four", "five"])
display(df)

df['penalty'] = 0.5 # 특정열 선택 및 대입
display(df)

# python의 List나 numpy의 array
df['penalty'] = [0.1, 0.2, 0.3, 0.4, 0.5]
display(df)

# 새로운 열을 추가하기
df['zeros'] = np.arange(5)
display(df)

# column 데이터를 Series로 추가할 수도 있다.
v1 = pd.Series([-1.2, -1.5, -1.7], index=['two','four','five'])  # 시리즈 생성
df['debt'] = v1                                                  # 생성한 시리즈를 debt 에 열로 추가
display(df)

df['net_points'] = df['points'] - df['penalty']
df['high_points'] = df['net_points'] > 2.0    # bool 데이터 추가
display(df)

# 열 삭제하기
del df['high_points']
del df['net_points']
del df['zeros']
display(df)

df.index.name = 'Order'
df.columns.name = 'Info'
display(df)

       year    names  points penalty
one    2014    Kilho     1.5     NaN
two    2015    Kilho     1.7     NaN
three  2016    Kilho     3.6     NaN
four   2015  Charles     2.4     NaN
five   2016  Charles     2.9     NaN

       year    names  points  penalty
one    2014    Kilho     1.5      0.5
two    2015    Kilho     1.7      0.5
three  2016    Kilho     3.6      0.5
four   2015  Charles     2.4      0.5
five   2016  Charles     2.9      0.5

       year    names  points  penalty
one    2014    Kilho     1.5      0.1
two    2015    Kilho     1.7      0.2
three  2016    Kilho     3.6      0.3
four   2015  Charles     2.4      0.4
five   2016  Charles     2.9      0.5

       year    names  points  penalty  zeros
one    2014    Kilho     1.5      0.1      0
two    2015    Kilho     1.7      0.2      1
three  2016    Kilho     3.6      0.3      2
four   2015  Charles     2.4      0.4      3
five   2016  Charles     2.9      0.5      4

       year    names  points  penalty  zeros  debt
one    2014    Kilho     1.5      0.1      0   NaN
two    2015    Kilho     1.7      0.2      1  -1.2
three  2016    Kilho     3.6      0.3      2   NaN
four   2015  Charles     2.4      0.4      3  -1.5
five   2016  Charles     2.9      0.5      4  -1.7

       year    names  points  penalty  zeros  debt  net_points  high_points
one    2014    Kilho     1.5      0.1      0   NaN         1.4        False
two    2015    Kilho     1.7      0.2      1  -1.2         1.5        False
three  2016    Kilho     3.6      0.3      2   NaN         3.3         True
four   2015  Charles     2.4      0.4      3  -1.5         2.0        False
five   2016  Charles     2.9      0.5      4  -1.7         2.4         True

       year    names  points  penalty  debt
one    2014    Kilho     1.5      0.1   NaN
two    2015    Kilho     1.7      0.2  -1.2
three  2016    Kilho     3.6      0.3   NaN
four   2015  Charles     2.4      0.4  -1.5
five   2016  Charles     2.9      0.5  -1.7

Info   year    names  points  penalty  debt
Order
one    2014    Kilho     1.5      0.1   NaN
two    2015    Kilho     1.7      0.2  -1.2
three  2016    Kilho     3.6      0.3   NaN
four   2015  Charles     2.4      0.4  -1.5
five   2016  Charles     2.9      0.5  -1.7

In [ ]:
# 행을 선택하고 조작하기

# 0번째 부터 2(3-1) 번째까지 가져온다. 
# : 뒤 숫자 이전까지 출력
display(df[0:3])

# two라는 행부터 four라는 행까지 가져온다.
# : 뒤의 이름의 행을 빼지 않는다.
display(df['two':'four']) # 하지만 비추천 !

Info   year  names  points  penalty  debt
Order
one    2014  Kilho     1.5      0.1   NaN
two    2015  Kilho     1.7      0.2  -1.2
three  2016  Kilho     3.6      0.3   NaN

Info   year    names  points  penalty  debt
Order
two    2015    Kilho     1.7      0.2  -1.2
three  2016    Kilho     3.6      0.3   NaN
four   2015  Charles     2.4      0.4  -1.5

 df.loc[ : , : ]: label 을 통해 값을 찾을 수 있다. integer position으로는 찾을  수 없다. 즉 문자로   
 df.iloc[ : , : ]: integer positon를 통해 행과 열의 번호로 값을 추출하는 방법, 즉 숫자로

In [ ]:
df.loc['two'] # 반환 형태는 Series, 열의 값과 index도 함께

Info
year        2015
names      Kilho
points       1.7
penalty      0.2
debt        -1.2
Name: two, dtype: object

In [ ]:
# df.loc[ :  ]  ,(코머) 없이 행구간만 lable로 설정
df.loc['two':'four']

Info   year    names  points  penalty  debt
Order
two    2015    Kilho     1.7      0.2  -1.2
three  2016    Kilho     3.6      0.3   NaN
four   2015  Charles     2.4      0.4  -1.5

In [ ]:
# df.loc[  :  ,  ] 코마이전 행구간 설정과 , 코머 이후의 열구간을 lable로 설정
df.loc['two':'four', 'points']

Order
two      1.7
three    3.6
four     2.4
Name: points, dtype: float64

In [ ]:
# 코마 이후에 label로 특정 열 나타내기
df.loc[ :, 'year'] # == df['year']

Order
one      2014
two      2015
three    2016
four     2015
five     2016
Name: year, dtype: int64

In [ ]:
# 특정구간의 행과 특정구간의 열 나타내기
df.loc['three':'five',  'year':'penalty']

Info   year    names  points  penalty
Order
three  2016    Kilho     3.6      0.3
four   2015  Charles     2.4      0.4
five   2016  Charles     2.9      0.5

In [ ]:
# 새로운 행 삽입하기
df.loc['six', : ] = [2013,'Jun',4.0,0.1,2.1]
df

Info     year    names  points  penalty  debt
Order
one    2014.0    Kilho     1.5      0.1   NaN
two    2015.0    Kilho     1.7      0.2  -1.2
three  2016.0    Kilho     3.6      0.3   NaN
four   2015.0  Charles     2.4      0.4  -1.5
five   2016.0  Charles     2.9      0.5  -1.7
six    2013.0      Jun     4.0      0.1   2.1

In [ ]:
# .iloc 사용:: index 번호를 사용한다.
df.iloc[3] # 3번의 행을 가져온다.

Info
year          2015
names      Charles
points         2.4
penalty        0.4
debt          -1.5
Name: four, dtype: object

In [ ]:
# .iloc 사용하여 행의 3번~4번까지, 
# 열의 0번~1번까지
df.iloc[3:5, 0:2]

Info     year    names
Order
four   2015.0  Charles
five   2016.0  Charles

In [ ]:
# 행의 0, 1, 3번의 1번, 2번 열에 해당하는 값 가져오기.
df.iloc[[0,1,3], [1,2]]

Info     names  points
Order
one      Kilho     1.5
two      Kilho     1.7
four   Charles     2.4

In [ ]:
# 모든 행에 대해서 열의 번호가 1번~3번까지의 
# 모든 데이터 가져오기
df.iloc[:, 1:4]

Info     names  points  penalty
Order
one      Kilho     1.5      0.1
two      Kilho     1.7      0.2
three    Kilho     3.6      0.3
four   Charles     2.4      0.4
five   Charles     2.9      0.5
six        Jun     4.0      0.1

In [ ]:
# 1번 행과 2번 열의 값 가져오기
df.iloc[1,2]

1.7

In [ ]:
# 열의 ‘year’가 2014보다 큰 boolean data
df['year'] > 2014

Order
one      False
two       True
three     True
four      True
five      True
six      False
Name: year, dtype: bool

In [ ]:
# names가 Kilho인 행에 대하여 열의 이름이 names와 points인 열을 제시
df.loc[ df['names'] == 'Kilho', ['names','points'] ]

Info   names  points
Order
one    Kilho     1.5
two    Kilho     1.7
three  Kilho     3.6

In [ ]:
# numpy에서와 같이 논리연산을 응용할 수 있다.
# point열의 값의 조건에 해당하는 것만 제시
df.loc[ (df['points']>2) & (df['points']<3), : ]

Info     year    names  points  penalty  debt
Order
four   2015.0  Charles     2.4      0.4  -1.5
five   2016.0  Charles     2.9      0.5  -1.7

**2-1. DataFrame : boolean Indexing**

In [ ]:
# 새로운 값을 대입할 수도 있다.

df.loc[ df['points'] > 3, 'penalty'] = 0   # 포인트가 3 이상인 행에 페털티를 0으로 바꾼다.
df

Info     year    names  points  penalty  debt
Order
one    2014.0    Kilho     1.5      0.1   NaN
two    2015.0    Kilho     1.7      0.2  -1.2
three  2016.0    Kilho     3.6      0.0   NaN
four   2015.0  Charles     2.4      0.4  -1.5
five   2016.0  Charles     2.9      0.5  -1.7
six    2013.0      Jun     4.0      0.0   2.1

In [ ]:
# DataFrame을 만들때 index, column을 설정하지 않으면 기본값으로 0부터 시작하는 정수형 숫자로 입력된다.

df = pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0  0.223234  1.702104  1.234834  1.480304
1  0.990244  0.159395 -0.373840  0.503411
2 -0.727034  0.991575 -0.191834 -0.124148
3 -0.010257 -0.017533 -0.154447  1.236495
4 -0.929141 -0.600143 -0.079746 -0.769971
5 -1.122672 -1.902346 -0.699633 -2.221924

**2-1. DataFrame : 다양한 선처리**

In [ ]:
# 날짜 범위 지정
df.columns = [ 'A', 'B', 'C', 'D']
df.index = pd.date_range('20160601', periods=6)

# date range함수는 datetime 자료형으로 구성된, 날짜 시각 등을 알 수 있는 자료형을 만드는 함수
df.index
df

                   A         B         C         D
2016-06-01  0.223234  1.702104  1.234834  1.480304
2016-06-02  0.990244  0.159395 -0.373840  0.503411
2016-06-03 -0.727034  0.991575 -0.191834 -0.124148
2016-06-04 -0.010257 -0.017533 -0.154447  1.236495
2016-06-05 -0.929141 -0.600143 -0.079746 -0.769971
2016-06-06 -1.122672 -1.902346 -0.699633 -2.221924

In [ ]:
# 행렬에서 열 추가

df['F'] = [1.0, np.nan, 3.5, 6.1, np.nan, 7.0] # F열을 추가한다. np.nan은 NaN값을 의미한다.
df

                   A         B         C         D    F
2016-06-01  0.223234  1.702104  1.234834  1.480304  1.0
2016-06-02  0.990244  0.159395 -0.373840  0.503411  NaN
2016-06-03 -0.727034  0.991575 -0.191834 -0.124148  3.5
2016-06-04 -0.010257 -0.017533 -0.154447  1.236495  6.1
2016-06-05 -0.929141 -0.600143 -0.079746 -0.769971  NaN
2016-06-06 -1.122672 -1.902346 -0.699633 -2.221924  7.0

In [ ]:
# 행의 값 중 하나라도 숫자가 아닌 경우 결측값인 경우 그 행을 없앤다.
df.dropna(how='any')

                   A         B         C         D    F
2016-06-01  0.223234  1.702104  1.234834  1.480304  1.0
2016-06-03 -0.727034  0.991575 -0.191834 -0.124148  3.5
2016-06-04 -0.010257 -0.017533 -0.154447  1.236495  6.1
2016-06-06 -1.122672 -1.902346 -0.699633 -2.221924  7.0

In [ ]:
# 모든 행의 값이 Na 이면 행을 삭제
df.dropna(how='all')

                   A         B         C         D    F
2016-06-01  0.223234  1.702104  1.234834  1.480304  1.0
2016-06-02  0.990244  0.159395 -0.373840  0.503411  NaN
2016-06-03 -0.727034  0.991575 -0.191834 -0.124148  3.5
2016-06-04 -0.010257 -0.017533 -0.154447  1.236495  6.1
2016-06-05 -0.929141 -0.600143 -0.079746 -0.769971  NaN
2016-06-06 -1.122672 -1.902346 -0.699633 -2.221924  7.0

* axis : 행이나 열 중 어떤 축을 기준으로 삭제할 것인지를 정하는 변수이다.
* axis=0 (행 방향, index 방향)을 기준으로 Nan, 결측값이 있는 행을 삭제한다. 
* axis=1 or axis='columns' (열 방향, columns 방향)을 기준으로 Nan, 결측값이 있는 열을  삭제한다.

In [ ]:
# drop함수는 특정 행 또는 열을 drop하고 난 DataFrame을 반환한다. 

data = { "names": [ "Kilho", "Kilho", "Kilho", "Charles", "Charles"],
           "year": [ 2014, 2015, 2013, 2015, 2016 ],
           "points": [ 1.5, 1.7, 3.6, 2.8, 2.9 ]}
df = pd.DataFrame(data, columns=[ "year", "names", "points", "penalty"],index=[ "one", "two", "three", "four", "five"])
df.loc[['one', 'two'], 'points'] = None

df

       year    names  points penalty
one    2014    Kilho     NaN     NaN
two    2015    Kilho     NaN     NaN
three  2013    Kilho     3.6     NaN
four   2015  Charles     2.8     NaN
five   2016  Charles     2.9     NaN

In [ ]:
# Nan , 결측값이 있는 모든 행 제거, axis=0은 생략
a=df.dropna()
print(a)

Empty DataFrame
Columns: [year, names, points, penalty]
Index: []

In [ ]:
#Na값이 있는 모든 열 삭제 
a=df.dropna(axis=1) 
print(a)

       year    names
one    2014    Kilho
two    2015    Kilho
three  2013    Kilho
four   2015  Charles
five   2016  Charles

* subset : optional 변수로 어떤 axis의 설정에 따라 설정 된 것에 해당하는 행이나 열을 삭제하는 방법
 - axis=0이라면 지정된 열에 대해서 Nan에 해당하는 행이 제거된다. 
 - axis=1이라면 지정된 행에 대해서 해당하는 열이 제거된다.

In [ ]:
# five행에서 Nan에 해당되는 열이 사라짐
b=df.dropna(axis=1, subset=['five'])  
print(b) # f

# points열에서 Nan에 해당되는 행이 사라짐
b=df.dropna(axis=0, subset=['points'])  
print(b)

# 열 ‘points’에 결측치 NaN이 있는 경우 해당 행을 삭제  
b=df.dropna(subset=['points'])  
print(b)

# ‘points’열에서 Nan , 결측값이 있는 것만 제거
a=df['points'].dropna()
print(a)

       year    names  points
one    2014    Kilho     NaN
two    2015    Kilho     NaN
three  2013    Kilho     3.6
four   2015  Charles     2.8
five   2016  Charles     2.9
       year    names  points penalty
three  2013    Kilho     3.6     NaN
four   2015  Charles     2.8     NaN
five   2016  Charles     2.9     NaN
       year    names  points penalty
three  2013    Kilho     3.6     NaN
four   2015  Charles     2.8     NaN
five   2016  Charles     2.9     NaN
three    3.6
four     2.8
five     2.9
Name: points, dtype: float64

thresh : optional 변수로 value 값이 존재하는 것이 몇 개 인지에 따라 삭제를 결정한다.  Thresh로 지정된  값 이상이면 존치 아니면 제거한다.   
 thresh=3, axis 기준으로 value 값이 3개 이상 존재한다면 그  axis는 존치하고 thresh에 미치지 못하면    axis에 해당하는 행이나 열은 삭제한다.

In [ ]:
# 열 기준으로 value의 값이 2개 이상 존재하면 존치 
df.dropna(axis=1,thresh=2)

       year    names  points
one    2014    Kilho     NaN
two    2015    Kilho     NaN
three  2013    Kilho     3.6
four   2015  Charles     2.8
five   2016  Charles     2.9

drop함수는 특정 행 또는 열을 drop하고 난 DataFrame을 반환한다.
inplace : 실제 데이터프레임에 나온 값을 저장할 것인지를 설정하는 변수로 default=0이다

In [ ]:
data = { "names": [ "Kilho", "Kilho", "Kilho", "Charles", "Charles"],
           "year": [ 2014, 2015, 2016, 2015, 2016 ],
           "points": [ 1.5, 1.7, 3.6, 2.4, 2.9 ]}
df = pd.DataFrame(data, columns=[ "year", "names", "points", "penalty"], 
index=[ "one", "two", "three", "four", "five"])
df

       year    names  points penalty
one    2014    Kilho     1.5     NaN
two    2015    Kilho     1.7     NaN
three  2016    Kilho     3.6     NaN
four   2015  Charles     2.4     NaN
five   2016  Charles     2.9     NaN

In [ ]:
# 모든 행의 값이 Na 이면 행을 삭제
df.dropna(how='all', axis=1)
df # 반환을 받지 않으면 기존의 df는 그대로이다

       year    names  points penalty
one    2014    Kilho     1.5     NaN
two    2015    Kilho     1.7     NaN
three  2016    Kilho     3.6     NaN
four   2015  Charles     2.4     NaN
five   2016  Charles     2.9     NaN

In [ ]:
# inplace=True라는 인자를 추가하여, 반환을 받지 
# 않고서도 기존의 df를 변경한다
df.dropna(how='all', axis=1, inplace=True) 
df

       year    names  points
one    2014    Kilho     1.5
two    2015    Kilho     1.7
three  2016    Kilho     3.6
four   2015  Charles     2.4
five   2016  Charles     2.9

In [ ]:
# a에 반환하여 기존의 df를 변경한 후 dataframe을 a로 출력
a=df.dropna(how='all', axis=1) 
a

       year    names  points
one    2014    Kilho     1.5
two    2015    Kilho     1.7
three  2016    Kilho     3.6
four   2015  Charles     2.4
five   2016  Charles     2.9

fillna()함수 : 특정 문자로 채운다.

In [ ]:
data = { "names": [ "Kilho", "Kilho", "Kilho", "Charles", "Charles"],
           "year": [ 2014, 2015, 2016, 2015, 2016 ],
           "points": [ 1.5, 1.7, 3.6, 2.4, 2.9 ]}
df = pd.DataFrame(data, columns=[ "year", "names", "points", "penalty"], 
index=[ "one", "two", "three", "four", "five"])

# nan값에 값입력 후 변수지정
a=df.fillna(value=0.5)
a

       year    names  points  penalty
one    2014    Kilho     1.5      0.5
two    2015    Kilho     1.7      0.5
three  2016    Kilho     3.6      0.5
four   2015  Charles     2.4      0.5
five   2016  Charles     2.9      0.5

In [ ]:
# inplace=True 설정한 경우
df.fillna(value=0.5, inplace=True)
df

       year    names  points  penalty
one    2014    Kilho     1.5      0.5
two    2015    Kilho     1.7      0.5
three  2016    Kilho     3.6      0.5
four   2015  Charles     2.4      0.5
five   2016  Charles     2.9      0.5

isnull() : nan값인지 확인

In [ ]:
data = { "names": [ "Kilho", "Kilho", "Kilho", "Charles", "Charles"],
           "year": [ 2014, 2015, 2016, 2015, 2016 ],
           "points": [ 1.5, 1.7, 3.6, 2.4, 2.9 ]}
df = pd.DataFrame(data, columns=[ "year", "names", "points", "penalty"], 
index=[ "one", "two", "three", "four", "five"])

# nan값인지 확인하기, NaN이면 True를 나타냄
df.isnull()

        year  names  points  penalty
one    False  False   False     True
two    False  False   False     True
three  False  False   False     True
four   False  False   False     True
five   False  False   False     True

In [ ]:
df = pd.DataFrame(np.random.randn(6,4))
df.columns = ['A', 'B', 'C', 'D']
df.index = pd.date_range('20160701', periods=6)
df['F'] = [1.0, np.nan, 3.5, 6.1, np.nan, 7.0]
df

                   A         B         C         D    F
2016-07-01 -2.876609 -0.001102 -1.997887 -0.126502  1.0
2016-07-02  0.153524 -0.099319  0.428257 -0.711897  NaN
2016-07-03  1.926587 -1.437261  0.336760 -0.035770  3.5
2016-07-04  0.188398  0.338814 -0.648541 -0.069586  6.1
2016-07-05 -0.320392  0.993097  0.411596 -0.399276  NaN
2016-07-06 -1.659406  1.564121 -0.462326 -0.634955  7.0

In [ ]:
# F열에서 nan값을 포함하는 행만 추출하기
df.loc[df.isnull()['F'],:]

                   A         B         C         D   F
2016-07-02  0.153524 -0.099319  0.428257 -0.711897 NaN
2016-07-05 -0.320392  0.993097  0.411596 -0.399276 NaN

In [ ]:
pd.to_datetime('20160701')

Timestamp('2016-07-01 00:00:00')

In [ ]:
# datetime()함수를 이용하여 특정 행 삭제하기
df.drop(pd.to_datetime('20160701'))

                   A         B         C         D    F
2016-07-02  0.153524 -0.099319  0.428257 -0.711897  NaN
2016-07-03  1.926587 -1.437261  0.336760 -0.035770  3.5
2016-07-04  0.188398  0.338814 -0.648541 -0.069586  6.1
2016-07-05 -0.320392  0.993097  0.411596 -0.399276  NaN
2016-07-06 -1.659406  1.564121 -0.462326 -0.634955  7.0

In [ ]:
# datetime()함수를 이용하여 2개 이상도 가능
df.drop([pd.to_datetime('20160702'), pd.to_datetime('20160704')])

                   A         B         C         D    F
2016-07-01 -2.876609 -0.001102 -1.997887 -0.126502  1.0
2016-07-03  1.926587 -1.437261  0.336760 -0.035770  3.5
2016-07-05 -0.320392  0.993097  0.411596 -0.399276  NaN
2016-07-06 -1.659406  1.564121 -0.462326 -0.634955  7.0

In [ ]:
# 2개 이상의 열도 가능
df.drop(['B','D'], axis = 1)

                   A         C    F
2016-07-01 -2.876609 -1.997887  1.0
2016-07-02  0.153524  0.428257  NaN
2016-07-03  1.926587  0.336760  3.5
2016-07-04  0.188398 -0.648541  6.1
2016-07-05 -0.320392  0.411596  NaN
2016-07-06 -1.659406 -0.462326  7.0

* Data 분석용 함수들   
![image.png]()

In [ ]:
data = [[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]]
df = pd.DataFrame(data, columns=["one", "two"], 
                                     index=["a", "b", "c", "d"])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

* sum

In [ ]:
# 행방향으로의 합(즉, 각 열의 합), NaN값은 배제하고 계산
df.sum(axis=0)

one    9.25
two   -5.80
dtype: float64

In [ ]:
# 열방향으로의 합(즉, 각 행의 합)
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [ ]:
df.loc['b'].sum()

2.5999999999999996

* 상관계수, 공분산

In [ ]:
df2 = pd.DataFrame(np.random.randn(6, 4),
                   columns=["A", "B", "C", "D"],
                   index=pd.date_range("20160701", periods=6))
df2

                   A         B         C         D
2016-07-01  0.026759  0.746739 -1.715758 -0.163890
2016-07-02 -0.548642 -0.500384  0.274091  0.254100
2016-07-03 -2.010309  0.828392  0.368492  0.996174
2016-07-04 -0.778979  1.521033  0.085351 -0.221924
2016-07-05  0.158811 -0.975465  1.015918 -0.753898
2016-07-06 -0.252738  0.115295 -0.305226  0.123209

In [ ]:
# A열과 B열의 상관계수 구하기
df2['A'].corr(df2['B'])

-0.4817608525791365

In [ ]:
# B열과 C열의 공분산 구하기
df2['B'].cov(df2['C'])

-0.3858629358468626

* 정렬 함수 및 기타 함수

In [ ]:
# index의 오름차순이 되도록 정렬하기
df2.sort_index(axis=0)

                   A         B         C         D
2016-07-01  0.026759  0.746739 -1.715758 -0.163890
2016-07-02 -0.548642 -0.500384  0.274091  0.254100
2016-07-03 -2.010309  0.828392  0.368492  0.996174
2016-07-04 -0.778979  1.521033  0.085351 -0.221924
2016-07-05  0.158811 -0.975465  1.015918 -0.753898
2016-07-06 -0.252738  0.115295 -0.305226  0.123209

In [ ]:
df2.sort_index(axis=1) # column을 기준으로 정렬

                   A         B         C         D
2016-07-01  0.026759  0.746739 -1.715758 -0.163890
2016-07-02 -0.548642 -0.500384  0.274091  0.254100
2016-07-03 -2.010309  0.828392  0.368492  0.996174
2016-07-04 -0.778979  1.521033  0.085351 -0.221924
2016-07-05  0.158811 -0.975465  1.015918 -0.753898
2016-07-06 -0.252738  0.115295 -0.305226  0.123209

In [ ]:
# 값 기준 정렬하기, D열의 값이 오름차순이 되도록 정렬하기
df2.sort_values(by='D', ascending=True)

                   A         B         C         D
2016-07-05  0.158811 -0.975465  1.015918 -0.753898
2016-07-04 -0.778979  1.521033  0.085351 -0.221924
2016-07-01  0.026759  0.746739 -1.715758 -0.163890
2016-07-06 -0.252738  0.115295 -0.305226  0.123209
2016-07-02 -0.548642 -0.500384  0.274091  0.254100
2016-07-03 -2.010309  0.828392  0.368492  0.996174

In [ ]:
# B열의 값이 내림차순이 되도록 정렬하기
df2.sort_values(by='B', ascending=False)

                   A         B         C         D
2016-07-04 -0.778979  1.521033  0.085351 -0.221924
2016-07-03 -2.010309  0.828392  0.368492  0.996174
2016-07-01  0.026759  0.746739 -1.715758 -0.163890
2016-07-06 -0.252738  0.115295 -0.305226  0.123209
2016-07-02 -0.548642 -0.500384  0.274091  0.254100
2016-07-05  0.158811 -0.975465  1.015918 -0.753898

In [ ]:
df2["E"] = np.random.randint(0, 6, size=6) #1부터 5까지 6개 숫자 발생
df2["F"] = ["alpha", "beta", "gamma", "gamma", "alpha", "gamma"]
df2

                   A         B         C         D  E      F
2016-07-01  0.026759  0.746739 -1.715758 -0.163890  4  alpha
2016-07-02 -0.548642 -0.500384  0.274091  0.254100  3   beta
2016-07-03 -2.010309  0.828392  0.368492  0.996174  2  gamma
2016-07-04 -0.778979  1.521033  0.085351 -0.221924  1  gamma
2016-07-05  0.158811 -0.975465  1.015918 -0.753898  4  alpha
2016-07-06 -0.252738  0.115295 -0.305226  0.123209  3  gamma

In [ ]:
# E열과 F열을 동시에 고려하여, 오름차순으로 하려면?
df2.sort_values(by=['E','F'])

                   A         B         C         D  E      F
2016-07-04 -0.778979  1.521033  0.085351 -0.221924  1  gamma
2016-07-03 -2.010309  0.828392  0.368492  0.996174  2  gamma
2016-07-02 -0.548642 -0.500384  0.274091  0.254100  3   beta
2016-07-06 -0.252738  0.115295 -0.305226  0.123209  3  gamma
2016-07-01  0.026759  0.746739 -1.715758 -0.163890  4  alpha
2016-07-05  0.158811 -0.975465  1.015918 -0.753898  4  alpha

In [ ]:
# 지정한 행 또는 열에서 중복값을 제외한 유니크한 값만 얻기
df2['F'].unique()

array(['alpha', 'beta', 'gamma'], dtype=object)

In [ ]:
# 지정한 행 또는 열에서 값에 따른 개수 얻기
df2['F'].value_counts()

gamma    3
alpha    2
beta     1
Name: F, dtype: int64

In [ ]:
# 지정한 행 또는 열에서 입력한 값이 있는지 확인하기
df2['F'].isin(['alpha','beta'])  # 아래와 같이 응용할 수 있다

2016-07-01     True
2016-07-02     True
2016-07-03    False
2016-07-04    False
2016-07-05     True
2016-07-06    False
Freq: D, Name: F, dtype: bool

In [ ]:
# F열의 값이 alpha나 beta인 모든 행 구하기
df2.loc[df2['F'].isin(['alpha','beta']),:]

                   A         B         C         D  E      F
2016-07-01  0.026759  0.746739 -1.715758 -0.163890  4  alpha
2016-07-02 -0.548642 -0.500384  0.274091  0.254100  3   beta
2016-07-05  0.158811 -0.975465  1.015918 -0.753898  4  alpha

* 사용자 정의 함수 사용하기

In [ ]:
df3 = pd.DataFrame(np.random.randn(4, 3), columns=["b", "d", "e"], # 4 X 3 형식의 -1~1 사이의 값으로, 핏쳐는 b,d,e & index 는 서울~대구로 데이터 프레임 생성
                   index=["Seoul", "Incheon", "Busan", "Daegu"])
df3

                b         d         e
Seoul   -0.586309 -0.472717 -1.140431
Incheon -1.140761 -1.075230 -0.392808
Busan    0.355423 -1.405701 -2.259910
Daegu   -0.538040 -0.117557 -0.834319

In [ ]:
func = lambda x: x.max() - x.min() # 함수는 큰것 - 작은 것
df3.apply(func, axis=0)            # 함수 적용. axis = 0 행방향

b    1.496184
d    1.288144
e    1.867102
dtype: float64

In [ ]:
func = lambda x: x.max() - x.min() # 함수는 큰것 - 작은 것
df3.apply(func, axis=1)            # 함수 적용. axis = 1 열방향

Seoul      0.667714
Incheon    0.747953
Busan      2.615333
Daegu      0.716762
dtype: float64

* 데이터 불러오기

In [ ]:
# pandas 사용하기 
import numpy as np  
import pandas as pd
 
# cosmetics_.csv파일이 동일 폴드에 있어야 함
df = pd.read_csv('/content/drive/My Drive/DM/cosmetics_.csv')
df = pd.read_excel('/content/drive/My Drive/DM/cosmetics_.xlsx') 

df = pd.read_csv('/content/drive/My Drive/DM/cosmetics_.csv', encoding='euc-kr') # 한글포함

In [ ]:
# 행 불러오기 : 변수명[처음 출력할 행: 마지막으로 출력할 행+1]
df[0:3] # 0에서 2번까지 출력
df[:3]  # 처음부터 2까지 출력, 3바로 앞까지 출력

   gender  marriage  edu  job  ...  satisf_b  satisf_i  satisf_al  repurchase
0       1         1    4    1  ...         5         2          2           2
1       2         1    4    9  ...         2         3          3           4
2       2         2    4    4  ...         4         5          4           4

[3 rows x 17 columns]

In [ ]:
# 열 불러오기 : 변수명.Columns[[행 번호]]] or 변수명.loc[:, 첫 행이름: 끝 행 이름]

# df[['job']] 혹은 df.job = job 데이터만 출력
display(df[['job']])

# 열의 1번, 3번, 6번만을 출력
display(df[df.columns[[1,3,6]]])

# 열의 skin 부터 location까지 출력
df.loc[:, 'skin':'location']

     job
0      1
1      9
2      4
3      7
4      6
..   ...
242    2
243    4
244    8
245    6
246   10

[247 rows x 1 columns]

     marriage  job  count
0           1    1      1
1           1    9      4
2           2    4      6
3           2    7      6
4           2    6      2
..        ...  ...    ...
242         1    2      6
243         2    4     10
244         2    8      3
245         1    6      2
246         2   10     10

[247 rows x 3 columns]

     skin  promo  location
0       1      1         2
1       3      2         3
2       3      2         2
3       5      2         3
4       3      2         3
..    ...    ...       ...
242     1      1         4
243     2      1         2
244     1      1         5
245     1      1         3
246     3      1         3

[247 rows x 3 columns]

명령어: 변수명.iloc[첫행 : 끝행, 첫열 : 끝열]  or 변수명.at[열번호, ‘행이름‘]

In [ ]:
# 1~3행, 0~2열 불러오기
display(df.iloc[1:4, 0:3])

# 3번째 열의 amount값 불러오기
df.at[3, 'amount']

   gender  marriage  edu
1       2         1    4
2       2         2    4
3       2         2    4

65000

* 데이터 변환하기

In [ ]:
# 데이터 프레임 복사 (백업)
df_columns = df.copy()

# 데이터 프레임 행 확인
df_columns.columns

Index(['gender', 'marriage', 'edu', 'job', 'mincome', 'aware', 'count',
       'amount', 'decision', 'propensity', 'skin', 'promo', 'location',
       'satisf_b', 'satisf_i', 'satisf_al', 'repurchase'],
      dtype='object')

In [ ]:
df_columns = df_columns[['gender', 'marriage', 'edu', 'job','mincome']]
df_columns.head(3)

   gender  marriage  edu  job  mincome
0       1         1    4    1        2
1       2         1    4    9        2
2       2         2    4    4        3

In [ ]:
df_columns.columns = ['gender', 'marriage', 'edu', 'job','mincome']

# 데이터의 변수 이름 변경, 행의 job을 occupation으로 수정
df_columns.rename(columns={'job': 'occupation'}, inplace=True)
df_columns

     gender  marriage  edu  occupation  mincome
0         1         1    4           1        2
1         2         1    4           9        2
2         2         2    4           4        3
3         2         2    4           7        5
4         1         2    6           6        5
..      ...       ...  ...         ...      ...
242       1         1    4           2        3
243       2         2    4           4        2
244       2         2    7           8        1
245       1         1    4           6        1
246       2         2    6          10        1

[247 rows x 5 columns]

In [ ]:
# 변수 추가, amount*1.2 한후에 tex-included price 행을 추가, 
df['tex-included price']= df['amount']*1.2
df

     gender  marriage  edu  ...  satisf_al  repurchase  tex-included price
0         1         1    4  ...          2           2             13200.0
1         2         1    4  ...          3           4             36000.0
2         2         2    4  ...          4           4            120000.0
3         2         2    4  ...          4           4             78000.0
4         1         2    6  ...          3           3             60000.0
..      ...       ...  ...  ...        ...         ...                 ...
242       1         1    4  ...          1           1              4800.0
243       2         2    4  ...          4           4            180000.0
244       2         2    7  ...          4           4            120000.0
245       1         1    4  ...          3           2             24000.0
246       2         2    6  ...          3           3           1200000.0

[247 rows x 18 columns]

In [ ]:
# amount*12를 한후에 8번열 다음에 total price열로 삽입
df.insert(8,'total price', df['amount']*12)
df

     gender  marriage  edu  ...  satisf_al  repurchase  tex-included price
0         1         1    4  ...          2           2             13200.0
1         2         1    4  ...          3           4             36000.0
2         2         2    4  ...          4           4            120000.0
3         2         2    4  ...          4           4             78000.0
4         1         2    6  ...          3           3             60000.0
..      ...       ...  ...  ...        ...         ...                 ...
242       1         1    4  ...          1           1              4800.0
243       2         2    4  ...          4           4            180000.0
244       2         2    7  ...          4           4            120000.0
245       1         1    4  ...          3           2             24000.0
246       2         2    6  ...          3           3           1200000.0

[247 rows x 19 columns]

In [ ]:
# 데이터 변수 삭제
del df['total price']
del df['tex-included price']
df

     gender  marriage  edu  job  ...  satisf_b  satisf_i  satisf_al  repurchase
0         1         1    4    1  ...         5         2          2           2
1         2         1    4    9  ...         2         3          3           4
2         2         2    4    4  ...         4         5          4           4
3         2         2    4    7  ...         3         4          4           4
4         1         2    6    6  ...         3         3          3           3
..      ...       ...  ...  ...  ...       ...       ...        ...         ...
242       1         1    4    2  ...         2         1          1           1
243       2         2    4    4  ...         3         4          4           4
244       2         2    7    8  ...         2         5          4           4
245       1         1    4    6  ...         4         3          3           2
246       2         2    6   10  ...         2         3          3           3

[247 rows x 17 columns]

* 데이터 케이스 추출

In [ ]:
# 성별(gender) 중 남성(1)만 추출하여 별도 데이터 프레임 만들기
df_gender=df[(df['gender']==1)] 
df_gender

     gender  marriage  edu  job  ...  satisf_b  satisf_i  satisf_al  repurchase
0         1         1    4    1  ...         5         2          2           2
4         1         2    6    6  ...         3         3          3           3
7         1         1    6    4  ...         4         4          4           4
11        1         1    2    5  ...         3         3          3           3
14        1         2    4    4  ...         3         3          3           4
..      ...       ...  ...  ...  ...       ...       ...        ...         ...
237       1         2    4    4  ...         3         4          3           3
238       1         2    4    4  ...         3         3          3           3
241       1         1    2    1  ...         1         1          1           1
242       1         1    4    2  ...         2         1          1           1
245       1         1    4    6  ...         4         3          3           2

[132 rows x 17 columns]

In [ ]:
 # 연 구매횟수(count) 1회~9회 고객 데이터만 추출하여 데이터 프레임 만들기

df_reacount=df[(df['count']<10) & (df['count']>=1)]  
df_reacount

     gender  marriage  edu  job  ...  satisf_b  satisf_i  satisf_al  repurchase
0         1         1    4    1  ...         5         2          2           2
1         2         1    4    9  ...         2         3          3           4
2         2         2    4    4  ...         4         5          4           4
3         2         2    4    7  ...         3         4          4           4
4         1         2    6    6  ...         3         3          3           3
..      ...       ...  ...  ...  ...       ...       ...        ...         ...
240       2         2    7    7  ...         3         3          3           3
241       1         1    2    1  ...         1         1          1           1
242       1         1    4    2  ...         2         1          1           1
244       2         2    7    8  ...         2         5          4           4
245       1         1    4    6  ...         4         3          3           2

[214 rows x 17 columns]

In [ ]:
# 교육(edu)범주 확인 :교육(edu)의 7개 집단을 3개 집단으로 재범주화 후 eduM변수로 만들기
df['edu'].value_counts(sort=False)

def edu_groups(series):
    if series==2:
        return 1
    elif series==3 or series==4:
        return 2
    elif series>=5:
        return 3

# df 데이터 셋 추가하기
df['eduM']=df['edu'].apply(edu_groups)
df

     gender  marriage  edu  job  ...  satisf_i  satisf_al  repurchase  eduM
0         1         1    4    1  ...         2          2           2     2
1         2         1    4    9  ...         3          3           4     2
2         2         2    4    4  ...         5          4           4     2
3         2         2    4    7  ...         4          4           4     2
4         1         2    6    6  ...         3          3           3     3
..      ...       ...  ...  ...  ...       ...        ...         ...   ...
242       1         1    4    2  ...         1          1           1     2
243       2         2    4    4  ...         4          4           4     2
244       2         2    7    8  ...         5          4           4     3
245       1         1    4    6  ...         3          3           2     2
246       2         2    6   10  ...         3          3           3     3

[247 rows x 18 columns]

In [ ]:
# 새로운 변수 ‘’eduM’ 빈도 확인
df['eduM'].value_counts(sort=False)

1     30
2    145
3     72
Name: eduM, dtype: int64

# Merge : 공통된 기준으로 행을 합치는 것   
![image.png]()

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

print(df1)
print(df2)

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5
  key   B
0  K0  B0
1  K1  B1
2  K2  B2

In [ ]:
df3 = pd.merge(df1, df2, how='left') # 왼쪽 df 기준 병합
df3

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

In [ ]:
df3 = pd.merge(df1, df2, how='right') # 오른쪽 df 기준 병합
df3

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [ ]:
df3 = pd.merge(df1, df2, how = 'outer') # 전부 병합
df3

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

In [ ]:
df3 = pd.merge(df1, df2, how = 'inner') # 겹치는 것만 병합
df3

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2